<div class="visualisation" id="{{ id }}">
    <div class="visualisation-header" style="overflow:auto;">
        <h3 style="float:left;"></h3>
        <table class="visualisation-control" style="float:right;">
            <tr class="visualisation-type">
              <td><label><input type="radio" name="{{ id }}-type" value="fft" {%- if vtype == "fft" -%}checked{% endif %}/>FFT Plot</label></td>
              <td><label><input type="radio" name="{{ id }}-type" value="spectrogram" {%- if vtype == "spectrogram" -%}checked{% endif %}/>Spectrogram</label></td>
              <td><label><input type="radio" name="{{ id }}-type" value="none" {%- if vtype == "none" -%}checked{% endif %}/>None</label></td>
            </tr>
            <tr class="visualisation-data">
              <td><label><input type="radio" name="{{ id }}-data" value="src_data" {%- if dtype == "src_data" -%}checked{% endif %}/>Original</label></td>
              <td><label><input type="radio" name="{{ id }}-data" value="rec_data" {%- if dtype == "rec_data" -%}checked{% endif %}/>Reconstructed</label></td>
              <td><label><input type="radio" name="{{ id }}-data" value="det_data" {%- if dtype == "det_data" -%}checked{% endif %}/>Detection</label></td>
            </tr>
        </table>
    </div>
    <div class="visualisation-container" id="{{ id }}-container" ></div>
</div>
